style* { margin: 0 auto; font-family: 'Raleway', sans-serif; }

body { 
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    color: #88665d;
}

header {
    background-color: #835572;
    min-height: 200px;
	border-bottom: 3px solid #fff;
	display: flex;
	align-items: center;
    justify-content: center;
}

.logo {
    max-height: 200px;
    width: auto;
}

header > h1 {
	width: calc(100% - 160px);
	text-align: center;
	font-size: 6vw;
    color: #fff;
    font-family: 'Cinzel', serif;
    display: none;
}

header > .top {
	position: absolute;
	left: 20px;
}

header > .top a.menu_icon i {
	color: #fff;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}

header > .top a.menu_icon:hover i {
    color: #8e5572;
    background-color: #fff;
}

nav.menu {
	width: 300px;
	min-height: calc(100vh - 121px);
	background-color: #8e5572;
	position: absolute;
	left: -300px;
	transition: .3s all;
}

nav.menu li a:hover {
    background-color: #fff;
    color: #8e5572;
}

li {
        list-style-type: none;
}

li > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

a.activeMenuItem {
    background-color: #a19b70;
    color: #88665d;
}

main {
    display: grid;
    justify-items: center;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
}

.menu_show {
	left: 0!important;
}

aside {
    display: flex;
    justify-content: space-between;
    font-family: 'Cinzel', serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-style: outset;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #8e5572;
    max-width: 400px;
    margin: 10px
}

button {
    font-family: 'Raleway', sans-serif;
    color: #8e5572;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border: #8e5572 outset 6px;
}

.submitBtn {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color: #8e5572;
    padding: 10px;
    margin-top: 10px;
}

picture img {
    width: 100%;
    box-shadow: 5px 10px #bcaa99;
    margin-bottom: 12px;
}

details {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    text-align: center;
}

.contactinfo {
    border: 2px solid #88665d;
    background-color: #bcaa99;
    color: #fff;
    justify-content: center;
    padding: 15px;
}

.contactinfo > h3 {
    margin:1px;
}

iframe {
    margin: 20px 0;
}

.thankYou {
    display: grid;
    grid-template-columns: 1fr;
}

.thankyouBtn {
    display: flex;
    align-content: space-between;
    align-items: center;
}

.goHome {
    margin-right: 10px;
}

footer {
	min-height: 30px;
    background-color: #8e5572;
    border-top: 3px solid #88665d;
	color: #fff;
	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
	bottom: 0;
	position: fixed;
    width: 100%;
    padding-bottom: 5px;
    font-size: .8rem;
}

footer a {
    text-decoration: none;
    color: #fff;
}

table {
    font-size: .8rem; 
}

ul {
    margin: 0;
    padding-inline-start: 0;
}

ul.inner {
    padding-inline-start: 20px;
    display: none;
}

li > a.toggle {
    min-width: 300px;
    background-color: #88665d;
    color: #fff;
    margin: 10px auto;
    padding: 10px;
    font-family: "Cinzel", serif;
    text-align: center;
}

@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}

section li {
    margin: 12px 0;
}