/*
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
color: #00798c;
color: #8693ab;
color: #f5cb5c;

*/
nav{
    font-family: 'Lato', sans-serif;  
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #084764;
    display: flex;
    justify-content: center;
    flex-flow: nowrap;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #f5cb5c;
    color: #084764;
}

header
{
    background-color: #00798c;
    color: #fff;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#logo 
{
    max-width:  100px;
    height: 100px;
    flex: 1 auto;
    margin-right: 100px;
}

.currentconditions 
{
    border: 2px solid #084764;
    flex: 1 auto;
    max-width: 200px;
    margin-left: 100px;
    background-color: whitesmoke;
}
#current
{
    max-width: 100px;
    height: 100px;
    float: left;

}

.currentconditions p
{
    color: #084764;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
#headertext 
{
    flex: 14 0px;
}
header h1 
{
    font-size: 3rem;
    font-family: 'Libre Baskerville', serif;
}
.motto
{
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0px;

color: #084764;
}

main {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;    
}

h2 {
    font-size: 2rem;
    text-align: center;
}

#container {
    position: relative;
}
#townshot {
    max-width: 100%;
}

#table {
    position: absolute;
    top: 25%;
    left: 16px;
    font-size: 1rem;
}
article {
    border: 1px solid #8693ab;
    max-width: 800px;
    height: auto;
    background-color: rgb(235, 231, 231);
    margin-right: auto;
    margin-left: auto;
    padding: 10 px 1px;
    position: relative;
}

#fair {
    float: right;
    max-width: 100px;

}

h3 {font-size: 1.25rem;}
h4 {font-size: .8rem;}